<div class="container">
  <div class="header">
    <div class="grp-img">
      <img class="i1" src="https://images.unsplash.com/photo-1660476705851-21e527337f9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
      <img class="i2" src="https://images.unsplash.com/photo-1657299143482-4f4ea1ebd71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
      <img class="i3" src="https://images.unsplash.com/photo-1660481451479-7ad6d6ad0223?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>

    <div class="grp-info">
      <h3 class="grp-name">
        Elnora, Lelia, Lucinda
      </h3>
      <p class="grp-status">
        We tipically reply in a few minutes
      </p>
    </div>
  </div>

  <div class="chatbox">
    <div class="chat">
      <img src="https://images.unsplash.com/photo-1657299143482-4f4ea1ebd71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
      <p class="msg">
        <ion-icon name="caret-back-outline"></ion-icon>
        Hi there! <br>
        Looking to get started? I can help answer to your questions!
      </p>
    </div>
    <div class="chat">
      <img src="https://images.unsplash.com/photo-1660481451479-7ad6d6ad0223?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
      <p class="msg">
        <ion-icon name="caret-back-outline"></ion-icon>
        I need a laptop 😊
      </p>
    </div>
    <div class="chat">
      <img src="https://images.unsplash.com/photo-1657299143482-4f4ea1ebd71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
      <p class="msg">
        <ion-icon name="caret-back-outline"></ion-icon>
        What kind of laptop your looking for? Mam
      </p>
    </div>
    <div class="chat">
      <img src="https://images.unsplash.com/photo-1660481451479-7ad6d6ad0223?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
      <p class="msg">
        <ion-icon name="caret-back-outline"></ion-icon>
        A gaming one 😅
      </p>
    </div>
  </div>

  <div class="policy">
    <p>
      By using the chat, I confirm that I have read the <a href="#">privacy policy</a> and do not object to the use of my personal data.
    </p>
    <a href="#" class="agree">
      I agree
    </a>
  </div>

  <a href="#" class="close">
    <ion-icon name="close-outline"></ion-icon>
  </a>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>